* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1240px;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 20px 0;
}

header .logo__text {
  color: #D04F4F;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
}

main {
  width: 100%;
  padding: 20px 20px 100px 20px;
  display: flex;
  flex-direction: column;
}

.search-bar {
  width: 100%;
  height: 70px;
  background-color: #E7E7E7;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar input {
  background-color: transparent;
  border: 0;
  width: 100%;
  height: 100%;
  margin-right: 20px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: black;
}

.search-bar input::placeholder {
  color: black;
  opacity: 0.25;
}

.search-bar input:focus {
  outline: none;
}

.tags {
  width: 100%;
  padding-top: 15px;
}

.tags ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tags ul li {
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-top: 10px;
}

.tags ul li p {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-right: 20px;
}

.tags ul li img {
  cursor: pointer;
}

.tags ul li.hide {
  display: none;
}

.tags--ingredients {
  background-color: #3282F7;
}

.tags--appareil {
  background-color: #68D9A4;
}

.tags--ustensiles {
  background-color: #ED6454;
}

.dropdown {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 20px;
}

.dropdown__wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.dropdown__ingredients, .dropdown__appareil, .dropdown__ustensiles {
  width: 100%;
  height: 70px;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 0;
}

.dropdown__ingredients input, .dropdown__appareil input, .dropdown__ustensiles input {
  width: 110px;
  height: 30px;
  background-color: transparent;
  border: none;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.dropdown__ingredients input::placeholder, .dropdown__appareil input::placeholder, .dropdown__ustensiles input::placeholder {
  color: white;
}

.dropdown__ingredients input:focus, .dropdown__appareil input:focus, .dropdown__ustensiles input:focus {
  outline: none;
}

.dropdown__ingredients .tags-chevron, .dropdown__appareil .tags-chevron, .dropdown__ustensiles .tags-chevron {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  transform: rotate(0);
}

.dropdown__ingredients .tags-chevron.opened, .dropdown__appareil .tags-chevron.opened, .dropdown__ustensiles .tags-chevron.opened {
  transform: rotate(180deg);
}

.dropdown__ingredients .tags__list, .dropdown__appareil .tags__list, .dropdown__ustensiles .tags__list {
  width: 100%;
  list-style: none;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.dropdown__ingredients .tags__list li, .dropdown__appareil .tags__list li, .dropdown__ustensiles .tags__list li {
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
  width: 30%;
  cursor: pointer;
}

.dropdown__ingredients .tags__list li:hover, .dropdown__appareil .tags__list li:hover, .dropdown__ustensiles .tags__list li:hover {
  text-decoration: underline;
}

.dropdown__ingredients .tags__list li.hide, .dropdown__appareil .tags__list li.hide, .dropdown__ustensiles .tags__list li.hide {
  display: none;
}

.dropdown__ingredients {
  background-color: #3282F7;
}

.dropdown__appareil {
  background-color: #68D9A4;
}

.dropdown__ustensiles {
  background-color: #ED6454;
}

.dropdown__ingredients.opened, .dropdown__appareil.opened, .dropdown__ustensiles.opened {
  width: 100%;
  height: unset;
}

.dropdown__ingredients.opened .tags__list, .dropdown__appareil.opened .tags__list, .dropdown__ustensiles.opened .tags__list {
  display: flex;
}

.recipes-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipes-cards__list {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recipes-cards__list-item {
  width: 100%;
  background-color: #E7E7E7;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.recipes-cards__list-item .image-placeholder {
  width: 100%;
  height: 178px;
  background-color: #C7BEBE;
}

.recipes-cards__list-item .recipe__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.recipes-cards__list-item .recipe__info .recipe__header {
  display: flex;
  justify-content: space-between;
  padding: 0 0 20px 0;
}

.recipes-cards__list-item .recipe__info .recipe__header .title-text, .recipes-cards__list-item .recipe__info .recipe__header .time p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.recipes-cards__list-item .recipe__info .recipe__header .time {
  display: flex;
}

.recipes-cards__list-item .recipe__info .recipe__header .time img {
  margin-right: 7px;
}

.recipes-cards__list-item .recipe__info .recipe__header .time p {
  font-weight: 700;
}

.recipes-cards__list-item .recipe__info .recipe__body {
  display: flex;
}

.recipes-cards__list-item .recipe__info .recipe__body-ingredients {
  list-style: none;
  width: 50%;
  padding-right: 10px;
}

.recipes-cards__list-item .recipe__info .recipe__body-ingredients li {
  width: 100%;
}

.recipes-cards__list-item .recipe__info .recipe__body-ingredients li p {
  font-family: "Lato", sans-serif;
  color: black;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
}

.recipes-cards__list-item .recipe__info .recipe__body-ingredients li p span {
  font-weight: 400;
}

.recipes-cards__list-item .recipe__info .recipe__body-description {
  width: 50%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: black;
}

.recipes-cards__list-item.hide {
  display: none;
}

@media screen and (min-width: 680px) {
  .dropdown__wrapper {
    justify-content: space-between;
  }
  .dropdown__ingredients, .dropdown__appareil, .dropdown__ustensiles {
    width: 30%;
  }
  .recipes-cards__list-item {
    width: 48%;
  }
}

@media screen and (min-width: 1240px) {
  .dropdown {
    height: 70px;
    margin-bottom: 50px;
  }
  .dropdown__wrapper {
    height: 70px;
    position: absolute;
    justify-content: flex-start;
  }
  .dropdown__ingredients, .dropdown__appareil, .dropdown__ustensiles {
    width: 200px;
    margin-right: 20px;
    margin-bottom: 0;
  }
  .dropdown__ingredients.opened, .dropdown__appareil.opened, .dropdown__ustensiles.opened {
    width: 670px;
  }
  .recipes-cards__list-item {
    width: 30%;
  }
}
/*# sourceMappingURL=index.css.map */